.header {
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    background: linear-gradient(rgba(120, 209, 107, 0.9), rgba(120, 209, 107, 0.9)),
        url(../images/golfer-1960998_1920.jpg) no-repeat center top fixed;
}

.header > h2 {
    flex: 1 0 auto;
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: normal;
}

.header > .material-icons {
    font-size: 2rem;
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
