.header-container {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 120%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}

.header {
    position: relative;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
}

.header > h2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.6rem;
    text-align: center;
    font-weight: normal;
}

.hole-info {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hole-info .material-icons {
    font-size: 3rem;
}

.hole-info > div {
    width: 100px;
}

.hole-info h3 {
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: normal;
}

.hole-info p {
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
    font-weight: normal;
}

.hole-stat-value {
    text-align: center;
    font-size: 2.2rem;
}

.hole-stat-description {
    text-align: center;
}

.menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.scorecard-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media screen and (orientation: landscape) {
    .hole-info {
        width: 60vh;
    }
}
