.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.hole-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
}

.hole {
    flex: 2;
}

.hole-stat {
    flex: 1;
}

.hole-info .material-icons {
    font-size: 2rem;
}

.hole-info h3 {
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: normal;
}

.hole-info p {
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
    font-weight: normal;
}

.hole-stat-value {
    text-align: center;
    font-size: 1.8rem;
}

.hole-stat-description {
    text-align: center;
    font-size: 0.9rem;
}

.scoring-container {
    position: relative;
    padding-top: 75%;
    width: 100%;
}

.score-entry {
    position: absolute;
    margin: 5%;
    width: 40%;
    padding-top: 40%;
    bottom: 0;
    left: 25%;
}

.score-entry > .center {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.score-entry > .center > .ball-wrapper {
    position: absolute;
    top: -75%;
    left: 50%;
    height: 50%;
    width: 50%;
    margin-left: -25%;
    font-size: 0.8rem;
}

.center.top-right {
    transform: rotate(45deg);
}

.center.top-right > .ball-wrapper {
    transform: rotate(-45deg);
}

.center.right {
    transform: rotate(90deg);
}

.center.right > .ball-wrapper {
    transform: rotate(-90deg);
}

.center.left {
    transform: rotate(-90deg);
}

.center.left > .ball-wrapper {
    transform: rotate(90deg);
}

.center.top-left {
    transform: rotate(-45deg);
}

.center.top-left > .ball-wrapper {
    transform: rotate(45deg);
}

@media screen and (orientation: landscape) {
    .main {
        width: 60vh;
    }
}
