.grid-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 1rem;
}

.top-left {
    font-size: 0.5em;
    grid-row: 3 / 7;
    grid-column: 3 / 7;
}

.top-middle {
    font-size: 0.5em;
    grid-row: 1 / 5;
    grid-column: 7 / 11;
}

.top-right {
    font-size: 0.5em;
    grid-row: 3 / 7;
    grid-column: 11 / 15;
}

.middle-left {
    font-size: 0.5em;
    grid-row: 7 / 11;
    grid-column: 1 / 5;
}

.middle {
    font-size: 0.8em;
    grid-row: 6 / 12;
    grid-column: 6 / 12;
}

.middle-right {
    font-size: 0.5em;
    grid-row: 7 / 11;
    grid-column: 13 / 17;
}

.bottom-left {
    font-size: 0.5em;
    grid-row: 11 / 15;
    grid-column: 3 / 7;
}

.bottom-middle {
    font-size: 0.5em;
    grid-row: 13 / 17;
    grid-column: 7 / 11;
}

.bottom-right {
    font-size: 0.5em;
    grid-row: 11 / 15;
    grid-column: 11 / 15;
}
