.scorecard {
    position: fixed;
    top: 0;
    right: 0;
    left: 0px;
    height: 200px;
    background: #fff;
    transform: translateY(-200px);
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    z-index: 1;
}

.scorecard.open {
    transform: translateX(0);
}

.close-icon {
    font-size: 1.2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: inherit;
    border: 0;
    padding: 0;
    outline: 0;
    color: inherit;
    background: none;
    cursor: pointer;
}

.scorecard table {
    width: 100%;
    border-collapse: collapse;
}

.scorecard thead {
    background-color: rgba(0, 0, 0, 0.2);
}

.scorecard td:first-child {
    border-left: none;
}

.scorecard td:last-child {
    border-right: none;
}

.scorecard td {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}
