.header-container {
    display: flex;
    justify-content: center;
    height: 120vh;
    width: 30vw;
    border-radius: 0 50% 50% 0;
    background: rgba(0, 0, 0, 0.2);
}

.header {
    position: relative;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header > h1 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: normal;
}

.menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.over-under {
    font-size: 1.2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: inherit;
    border: 0;
    padding: 0;
    outline: 0;
    color: inherit;
    background: none;
    cursor: pointer;
}

@media (min-height: 600px) {
    .header-container {
        height: 30vh;
        width: 120%;
        border-radius: 0 0 50% 50%;
    }
}
