.hole {
    height: 50vmin;
    width: 50vmin;
    position: absolute;
    background-color: #444;
    top: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: -72px 63px 45px 39px black inset;
    z-index: 1;
}
