.hole {
    height: 800px;
    width: 800px;
    position: absolute;
    background-color: #444;
    top: -400px;
    left: -400px;
    border-radius: 50%;
    box-shadow: -72px 63px 45px 39px black inset;
}
