.hole-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
}

.hole {
    flex: 2;
}

.hole-stat {
    flex: 1;
}

.hole-info .material-icons {
    font-size: 2rem;
}

.hole-info h3 {
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: normal;
}

.hole-info p {
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
    font-weight: normal;
}

.hole-stat-value {
    text-align: center;
    font-size: 1.8rem;
}

.hole-stat-description {
    text-align: center;
    font-size: 0.9rem;
}
