.app {
    height: 100%;
    background: linear-gradient(rgb(38, 222, 129, 0.9), rgb(38, 222, 129, 0.9)),
        url(./images/golfer-1960998_1920.jpg) no-repeat center 20% / cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
}

button {
    font-size: 1.2rem;
    font-family: inherit;
    border: 0;
    padding: 0;
    outline: 0;
    color: inherit;
    background: none;
    cursor: pointer;
}

@media (min-height: 500px) {
    .app {
        flex-direction: column;
    }
}
