.app {
    height: 100%;
    background: linear-gradient(rgb(38, 222, 129, 0.9), rgb(38, 222, 129, 0.9)),
        url(./images/golfer-1960998_1920.jpg) no-repeat center 20% / cover;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-height: 600px) {
    .app {
        flex-direction: column;
    }
}
