.app {
    height: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("./images/golfer-1960998_1920.jpg") no-repeat center top fixed; */
    /* background: linear-gradient(rgba(120, 209, 107, 0.9), rgba(120, 209, 107, 0.9)),
        url(./images/golfer-1960998_1920.jpg) no-repeat center top fixed; */
    /* background-size: cover; */
    background: linear-gradient(rgb(38, 222, 129, 0.9), rgb(38, 222, 129, 0.9)),
        url(./images/golfer-1960998_1920.jpg) no-repeat center 20% / cover;
    /* background: #f4f7f8; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 90vw;
    font-size: 5vw;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

@media screen and (orientation: landscape) {
    .main {
        width: 60vh;
        font-size: 4vh;
    }
}
