.circle {
    height: 100%;
    border-radius: 50%;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
    background: #eee url("../images/golfball.svg");
    background-size: 25px 15px;
    /* opacity: 0.2; */
    /* background-color: rgb(59, 219, 133); */
    font-weight: normal;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.score {
    margin-top: 0.3em;
    font-size: 0.8em;
}

.score.red {
    color: rgb(203, 37, 37);
}

.score.green {
    color: rgb(37, 203, 119);
}

/* .middle > .circle {
    background: #f4f7f8;
    color: rgb(59, 219, 133);
} */
